@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
:root {
  --black: #000000;
  --white: #ffffff;
  --lightgray: #ede7e3;
  --orange: #f39422;
  --green: #16697a;
  --lightgreen: #489FB5;
  --morelightgreen: #82C0CC;
  --gray: #211c1c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: var(--black);
  background-color: var(--gray);
  background-image: URL(./assets/img/bg-airplane-pattern-dark2.png);
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--green);
}
/* NavBar */
header {
  min-height: 75px;
  font-size: 16px;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: var(--lightgray);
  z-index: 1000;
  border-bottom: 2px solid var(--gray);
}
.nav ul {
  display: flex;
}
.nav-list a {
  display: block;
  font-size: 20px;
  margin-right: 18px;
}
#logo img {
  width: 300px;
  margin-left: 12px;
}
#nav-desktop li a:hover {
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
}
.menu-toggle {
  display: none;
}
.menu-hamburger {
  display: none;
  cursor: pointer;
  padding: 0 15px;
  color: var(--green);
  font-size: 30px;
}
#nav-mobile {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--lightgray);
  position: absolute;
  left: 0;
  top: 75px;
}
#nav-mobile li {
  padding: 10px;
}
#nav-mobile li a:hover {
  color: var(--orange);
}
.social-media {
  display: flex;
  flex-direction: row;
}
.menu-toggle:checked~#nav-mobile {
  display: flex;
}
/* Nav Responsive */
@media (max-width: 760px) {
  #nav-desktop {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
}

/* Footer */
footer {
  font-size: 26px;
  text-align: center;
  color: var(--green);
  background-color: var(--lightgray);
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
}
footer a {
  font-size: 40px;
  padding: 10px;
}
footer a:hover {
  color: var(--morelightgreen);
}
footer p {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: bold;
}

/* Scroll up */
.scroll-up {
  all: unset;
  display: none;
  position: fixed;
  bottom: 25px;
  right: 35px;
  font-size: 3rem;
  color: var(--orange);
  z-index: 450;
  cursor: pointer;
}
.scroll-up:hover {
  color: #d88219;
}

/* Banner contact */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  margin-bottom: 40px;
}
.title h2 {
  text-transform: uppercase;
  font-family: "Suez One", serif;
  font-size: 3.5rem;
  color: var(--black);
  opacity: 85%;
}
#banner-contact {
  background-image: url(./assets/img/destinations/d-ba-min.png);
  background-position: center;
}
/*.container {
  background-color: var(--white);
  width: 80%;
  margin: 40px auto;
  border-radius: 20px;
}*/
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}



/*#form {
  display: flex;
  padding: 40px;
  border-right: 1px solid #4d4e53;
  width: 50%;
}*/

#form {
  background-color: var(--lightgray); /*color de fondo del formulario */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*sombra*/
  padding: 40px;
  width: 50%;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray); /* Borde */
  border-radius: 5px; /* Borde redondeado */
}
textarea {
  height: 100%; /* Establecer una altura predeterminada */
  resize: vertical; /* Permitir que el textarea sea redimensionable verticalmente */
}

label {
  font-weight: bold;
  color: var(--gray);
}

/*botones */
input[type="submit"] {
  background-color: var(--green); /*color de fondo */
  color: var(--white); /*color del texto */
  margin-top: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /*borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease; /*Transición*/
}

input[type="submit"]:hover {
  background-color: var(--lightgreen); /* Cambiar el color de fondo al pasar el mouse */
}

/*radio buttons */
input[type="radio"] {
  margin-right: 5px;
}
#radio-travel {
  margin-right: 8px;
}