@import "https://fonts.googleapis.com/css?family=Lato:400,700";
:root {
  --black: #000000;
  --white: #ffffff;
  --lightgray: #ede7e3;
  --orange: #f39422;
  --green: #16697a;
  --lightgreen: #489FB5;
  --morelightgreen: #82C0CC;
  --gray: #211c1c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: var(--black);
  background-color: var(--gray);
  background-image: URL(./assets/img/bg-airplane-pattern-dark2.png);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--green);
}
/* NavBar */
header {
  min-height: 75px;
  font-size: 16px;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: var(--lightgray);
  z-index: 1000;
}
.nav ul {
  display: flex;
}
.nav-list a {
  display: block;
  font-size: 20px;
  margin-right: 12px;
}
#logo img {
  width: 45%;
  margin-left: 12px;
}
.nav ul a:hover {
  color: var(--orange);
  border-bottom: 3px solid #f39422;
}

/* Welcome o hero section */
#hero {
  width: 100vw;
  height: 100vh;
  background-image: URL(./assets/img/Banner.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  font-size: 7.5vw;
  opacity: 85%;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
#hero h2 {
  font-size: 3.5vw;
  opacity: 85%;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 85%;
		transform: scale(1);
	}
}

/* Cards grid */
#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 20px;
  width: 100%;
  max-width: 1280px;
  margin: 30px auto;
  margin-bottom: 12px;
}
.card {
  background-color: var(--lightgray);
  color: var(--green);
  height: 400px;
}
.card h1 {
  text-align: center;
  font-size: 40px;
  padding: 15px 0;
}
.card p {
  text-align: center;
  font-size: 18px;
  color: var(--lightgreen);
  padding: 0 15px;
}

/* Video */
#how-it-works {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
#how-it-works > iframe {
  width: 90%;
}

/* Most */
#most-visited {
  text-align: center;
  background-color: var(--lightgray);
}
#most-visited-header {
  font-size: 40px;
  color: var(--green);
  padding: 10px 0;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
.mini-card {
  padding: 10px;
}
.img-card {
  width: 230px;
  height: 230px;
  overflow: hidden;
}
.img-card img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  transition: transform 400ms;
}
.img-card img:hover {
  transform: scale(1.2);
}

/* Footer */
footer {
  font-size: 26px;
  text-align: center;
  color: var(--lightgray);
  margin-top: 20px;
  margin-bottom: 20px;
}
footer a {
  font-size: 40px;
  padding: 10px;
}
footer a:hover {
  color: var(--morelightgreen);
}
footer p {
  margin-top: 8px;
  font-size: 1rem;
}
