* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #EDE7E3;
  position: sticky;
  width: 100vw;
}

header img {
  width: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul a {
  color: #16697A;
  padding: 20px;
  text-decoration: none;
}

nav ul a:hover {
  background-color: #82C0CC;
}